ARCH		= mips
MODULES		= runtime stream kernel timer flash elvees fs uart random mem rtc

# Maximum optimization
#OPTIMIZE 	= -O3 -EL -static -falign-jumps=8 -falign-functions=8 -fno-caller-saves -fsched-spec-load -fgcse-las -fgcse-sm -funroll-loops -G 1024 -mno-abicalls -mgpopt -mno-shared

#OPTIMIZE 	= -O3 -EL -static -falign-jumps=8 -falign-functions=8 -fno-caller-saves -fsched-spec-load -fgcse-las -fgcse-sm -funroll-loops -mno-abicalls -mno-gpopt -mno-shared

# OPTIMIZE	= -O3 -ffast-math -DNDEBUG -mno-gpopt
# OPTIMIZE	= -O3 -mno-gpopt
# OPTIMIZE	= -O2

# Smallest size
OPTIMIZE	= -Os -fomit-frame-pointer #-DNDEBUG

# Debug mode, enable asserts
#OPTIMIZE	= -O1 -g

#PROCESSOR	= ELVEES_NVCOM01
#PROCESSOR	= ELVEES_NVCOM01M
#PROCESSOR	= ELVEES_MC24
#PROCESSOR	= ELVEES_MC24R2
#PROCESSOR   = ELVEES_MC0226
PROCESSOR	= ELVEES_MC0428

# We use memcpy etc. with slightly different args,
# so we need to use no-builtin option to prevent conflict.
BINDIR		= /usr/local/mipsel720_elvees/bin
CC		= $(BINDIR)/mipsel-elf32-gcc -mips32 -Wall -g
CFLAGS		= $(OPTIMIZE) -I$(OS)/sources -I$(OS)/contrib -DMIPS32 -D$(PROCESSOR) \
		  -fno-builtin -fsigned-char -DRECURSIVE_LOCKS=0
          # -Werror
ASFLAGS		= -I$(OS)/sources -DMIPS32 -D$(PROCESSOR)
DEPFLAGS	= -MT $@ -MD -MP -MF .deps/$*.dep
LDFLAGS		= -nostdlib startup.o
LIBS		= -L$(TARGET) -luos -lgcc
AR		= $(BINDIR)/mipsel-elf32-ar
SIZE		= $(BINDIR)/mipsel-elf32-size
OBJDUMP		= $(BINDIR)/mipsel-elf32-objdump -mmips:isa32 -D
OBJCOPY		= $(BINDIR)/mipsel-elf32-objcopy
STRIP		= $(BINDIR)/mipsel-elf32-strip -s

# Generate map-files
CFLAGS          += -Wl,-Map=$<.map

CFLAGS      += -DIDLE_TASK_STACKSZ=600

# Ключ компилируется для платы
CFLAGS      += -DVIDEOREGBOARD

# No instructions in delay slots.
CFLAGS          += -fno-delayed-branch -Wa,-O0
#CFLAGS          += -G0 -Wa,--mc24r2

#ASFLAGS         += -DFLUSH_CACHE_IN_EXCEPTION

#CFLAGS          += -DEXTERNAL_SETUP

# Required CPU frequency
CFLAGS		+= -DKHZ=200000

# Frequency of installed oscillator, kHz
CFLAGS		+= -DELVEES_CLKIN=10000

# Frequency of memory bus, kHz
CFLAGS		+= -DMPORT_KHZ=80000

# Enable caches
CFLAGS          += -DENABLE_ICACHE
CFLAGS          += -DENABLE_DCACHE

CFLAGS          += -DTIMER_TIMEOUTS

# Choose area for code
#CODE_PLACE	= FLASH
#CODE_PLACE	= CRAM
#CODE_PLACE	= SDRAM

# Choose area for data
#DATA_PLACE	= CRAM
#DATA_PLACE	= SDRAM

# Choose loading type
#LOADER		= NVBOOT
LOADER		= STANDALONE


STARTUP	= startup-nobev.S
CFLAGS += -DMIPS_NOBEV -DELVEES_VECT_CRAM -DDONT_COPY_DATA_SEGS
ASFLAGS	+= -DRAM_HI=0x9880 -DENABLE_DCACHE	-DENABLE_ICACHE

LDFLAGS	+= -T ldscript.ld



########################################################################
# This part is not intended to edit by end-user. Change the code below
# only if you understand what you are doing
#

ifneq (,$(findstring CRAM,$(CODE_PLACE)))			# Code in CRAM

	STARTUP	= startup-nobev.S
	CFLAGS += -DMIPS_NOBEV -DELVEES_VECT_CRAM
	
	ifeq (,$(findstring -DENABLE_ICACHE,$(CFLAGS)))
		ifeq (,$(findstring -DENABLE_DCACHE,$(CFLAGS)))					# No caches
		
			ifeq (,$(findstring SDRAM,$(DATA_PLACE)))
        			LDFLAGS	+= -T ldscripts/code-cram-data-cram.ld
        			ASFLAGS	+= -DRAM_HI=0xb801
        		else
        			LDFLAGS	+= -T ldscripts/code-cram-data-sdram.ld
        			ASFLAGS	+= -DRAM_HI=0xa000
        			CFLAGS	+= -DELVEES_DATA_SDRAM
        			#CFLAGS	+= -DELVEES_INIT_SDRAM
			endif
        	else
        											# D-cache
        		ifeq (,$(findstring SDRAM,$(DATA_PLACE)))
        			LDFLAGS	+= -T ldscripts/code-cram-data-cram-d-cache.ld
        			ASFLAGS	+= -DRAM_HI=0x9801 -DENABLE_DCACHE
        		else
        			LDFLAGS	+= -T ldscripts/code-cram-data-sdram-d-cache.ld		
        			ASFLAGS	+= -DRAM_HI=0x8000 -DENABLE_DCACHE
        			CFLAGS	+= -DELVEES_DATA_SDRAM
        			#CFLAGS	+= -DELVEES_INIT_SDRAM
			endif        		
        	endif
	else
		ifeq (,$(findstring -DENABLE_DCACHE,$(CFLAGS)))					# I-cache
			
			ifeq (,$(findstring SDRAM,$(DATA_PLACE)))
				LDFLAGS	+= -T ldscripts/code-cram-data-cram-i-cache.ld
				ASFLAGS	+= -DRAM_HI=0xb801
			else
				LDFLAGS	+= -T ldscripts/code-cram-data-sdram-i-cache.ld
        			ASFLAGS	+= -DRAM_HI=0xa000
        			CFLAGS	+= -DELVEES_DATA_SDRAM
        			#CFLAGS	+= -DELVEES_INIT_SDRAM
			endif
		else
												# I- and D-cache
			ifeq (,$(findstring SDRAM,$(DATA_PLACE)))								
				LDFLAGS	+= -T ldscripts/code-cram-data-cram-i-d-cache.ld
				ASFLAGS	+= -DRAM_HI=0x9801 -DENABLE_DCACHE	
				#ASFLAGS	+= -DRAM_HI=0x9880 -DENABLE_DCACHE		# Поправлено для расположения данных в XYRAM1
			else
				LDFLAGS	+= -T ldscripts/code-cram-data-sdram-i-d-cache.ld		
        			ASFLAGS	+= -DRAM_HI=0x8000 -DENABLE_DCACHE
        			CFLAGS	+= -DELVEES_DATA_SDRAM
        			#CFLAGS	+= -DELVEES_INIT_SDRAM
        		endif			
		endif
		ASFLAGS	+= -DENABLE_ICACHE
	endif
	
	ifneq (,$(findstring STANDALONE,$(LOADER)))
		CFLAGS	+= -DDONT_COPY_DATA_SEGS
	endif
		
else ifneq (,$(findstring SDRAM,$(CODE_PLACE)))			# Code in SDRAM

	STARTUP	= startup-nobev.S
	CFLAGS += -DMIPS_NOBEV
	
	ifeq (,$(findstring -DENABLE_ICACHE,$(CFLAGS)))
		ifeq (,$(findstring -DENABLE_DCACHE,$(CFLAGS)))
												# No caches
			ifeq (,$(findstring SDRAM,$(DATA_PLACE)))
        			LDFLAGS	+= -T ldscripts/code-sdram-data-cram.ld		
        			ASFLAGS	+= -DRAM_HI=0xb800
        		else
        			LDFLAGS	+= -T ldscripts/code-sdram-data-sdram.ld
        			ASFLAGS	+= -DRAM_HI=0xa010
        			CFLAGS	+= -DELVEES_DATA_SDRAM
        			#CFLAGS	+= -DELVEES_INIT_SDRAM
        		endif        		
        	else
        											# D-cache
        		ifeq (,$(findstring SDRAM,$(DATA_PLACE)))
        			LDFLAGS	+= -T ldscripts/code-sdram-data-cram-d-cache.ld	
        			ASFLAGS	+= -DRAM_HI=0x9800 -DENABLE_DCACHE
        		else
        			LDFLAGS	+= -T ldscripts/code-sdram-data-sdram-d-cache.ld	
        			ASFLAGS	+= -DRAM_HI=0x8010 -DENABLE_DCACHE
        			CFLAGS	+= -DELVEES_DATA_SDRAM
        			#CFLAGS	+= -DELVEES_INIT_SDRAM
			endif
        	endif
	else
		ifeq (,$(findstring -DENABLE_DCACHE,$(CFLAGS)))
												# I-cache
			ifeq (,$(findstring SDRAM,$(DATA_PLACE)))
				LDFLAGS	+= -T ldscripts/code-sdram-data-cram-i-cache.ld
				ASFLAGS	+= -DRAM_HI=0xb800
			else
				LDFLAGS	+= -T ldscripts/code-sdram-data-sdram-i-cache.ld		
				ASFLAGS	+= -DRAM_HI=0xa010
				CFLAGS	+= -DELVEES_DATA_SDRAM
				#CFLAGS	+= -DELVEES_INIT_SDRAM
			endif
		else
												# I- and D-cache
			ifeq (,$(findstring SDRAM,$(DATA_PLACE)))
				LDFLAGS	+= -T ldscripts/code-sdram-data-cram-i-d-cache.ld
				ASFLAGS	+= -DRAM_HI=0x9800 -DENABLE_DCACHE
			else
				LDFLAGS	+= -T ldscripts/code-sdram-data-sdram-i-d-cache.ld
				ASFLAGS	+= -DRAM_HI=0x8010 -DENABLE_DCACHE
				CFLAGS	+= -DELVEES_DATA_SDRAM
				#CFLAGS	+= -DELVEES_INIT_SDRAM
			endif			
		endif
		ASFLAGS	+= -DENABLE_ICACHE
	endif
	
	ifneq (,$(findstring STANDALONE,$(LOADER)))
		CFLAGS	+= -DDONT_COPY_DATA_SEGS
	endif

else ifneq (,$(findstring FLASH,$(CODE_PLACE)))				# Code in FLASH

	STARTUP	= startup.S
	
	ifeq (,$(findstring -DENABLE_ICACHE,$(CFLAGS)))
		ifeq (,$(findstring -DENABLE_DCACHE,$(CFLAGS)))
												# No caches
			ifeq (,$(findstring SDRAM,$(DATA_PLACE)))
	        		LDFLAGS	+= -T ldscripts/code-flash-data-cram.ld		
	        		ASFLAGS	+= -DRAM_HI=0xb800
	        	else
        			LDFLAGS	+= -T ldscripts/code-flash-data-sdram.ld
        			ASFLAGS	+= -DRAM_HI=0xa000
        			CFLAGS	+= -DELVEES_DATA_SDRAM
        			CFLAGS	+= -DELVEES_INIT_SDRAM
	        	endif
        	else
        											# D-cache
			ifeq (,$(findstring SDRAM,$(DATA_PLACE)))
				LDFLAGS	+= -T ldscripts/code-flash-data-cram-d-cache.ld		
				ASFLAGS	+= -DRAM_HI=0x9800 -DENABLE_DCACHE
			else
				LDFLAGS	+= -T ldscripts/code-flash-data-sdram-d-cache.ld		
				ASFLAGS	+= -DRAM_HI=0x8000 -DENABLE_DCACHE
				CFLAGS	+= -DELVEES_DATA_SDRAM
				CFLAGS	+= -DELVEES_INIT_SDRAM
			endif
        	endif
	else
		ifeq (,$(findstring -DENABLE_DCACHE,$(CFLAGS)))
												# I-cache
			ifeq (,$(findstring SDRAM,$(DATA_PLACE)))
				LDFLAGS	+= -T ldscripts/code-flash-data-cram-i-cache.ld
				ASFLAGS	+= -DRAM_HI=0xb800
			else
        			LDFLAGS	+= -T ldscripts/code-flash-data-sdram-i-cache.ld
        			ASFLAGS	+= -DRAM_HI=0xa000
        			CFLAGS	+= -DELVEES_DATA_SDRAM
        			CFLAGS	+= -DELVEES_INIT_SDRAM
			endif			
		else
												# I- and D-cache
			ifeq (,$(findstring SDRAM,$(DATA_PLACE)))
				LDFLAGS	+= -T ldscripts/code-flash-data-cram-i-d-cache.ld		
				ASFLAGS	+= -DRAM_HI=0x9800 -DENABLE_DCACHE
			else
        			LDFLAGS	+= -T ldscripts/code-flash-data-sdram-i-d-cache.ld
        			ASFLAGS	+= -DRAM_HI=0x8000 -DENABLE_DCACHE
        			CFLAGS	+= -DELVEES_DATA_SDRAM
        			CFLAGS	+= -DELVEES_INIT_SDRAM
			endif
		endif
		ASFLAGS	+= -DENABLE_ICACHE
	endif
	
endif

